//grid settings

$container-large-desktop: 960px;
$grid-gutter-width: 30px;

$screen-xs: 320px;
$screen-md:1024px;


//colours

$blue: #1976d2;
$purple-light: #9c27b0;
$purple: #7f208f;
$font-colour: #7f208f;
$gray: #9b9b9b;
