// Import bootstrap and fontawesome
@import "variables";
@import "bootstrap";
@import "font-awesome";

.navbar-header {
  text-align: center;
}

body {
  margin-top: 78px;
  font-family: 'Open Sans',sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), no-repeat center center fixed url("/assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  padding: 0 10px;
}

h1, p.lead {
  font-weight: bold;
  color: #fbfbfa;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}


nav.navbar-fixed-top {
  height: 40px;
  @media(min-width: $screen-md) {
    height: 60px;
  }
  .container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
    .logo {
      float: unset;
      padding: 15px 15px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 20px;
      height: 50px;

      img {
        width: 104px;
        height: 30px;

        @media(min-width: $screen-md) {
          width: 155px;
          height: 43px;
        }
      }
    }
  }
}

.heading-text {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
  }
}

.btn.signup {
  height: 62px;
  width: 100%;
  background-color: $purple;
  color: white;
  font-size: 24px;
  font-weight: bold;
  color: #f2f2f2;
  margin-bottom: 240px;
  margin-top: 20px;

  @media(max-width: $screen-xs) {
    margin-bottom: 140px;
  }

  .fa {
    font-size: 20px;
    font-weight: bold;
  }
}

.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
  @media($screen-xs-max) {
    width: 100%;
  }

  &.center {
    clear: both;
    margin: auto;
    text-align: center;
    float: none;

    @media(max-width: $screen-md-max) {
      padding-top: 10px;
    }
  }
}

.panel {
  border-radius: 2px;
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: 10px;

  .panel-body {
    padding: 20px;
      input[type='checkbox'] {
        margin-right: 18px;
        margin-bottom: 10px;
        width: 14px;
        height: 14px;
      }

      .mixed-checkbox {
        display: table;
        margin-bottom: 20px;

        input {
          display: table-cell;
          margin-right: 24px;
        }
        span {
          display: table-cell;
          font-weight: normal;
        }
      }

      .panel-checkbox-text {
        font-weight: bold;
        font-size: 15px;

        &.no-checkbox {
          display: block;
          margin-bottom: 13px;
        }
      }
      .gray-heading {
         font-size: 18px;
         font-weight: bold;
         color: #9b9b9b;
         margin-bottom: 20px;
         margin-top: 0;
      }
      .panel-main-text {
      	font-size: 15px;
      	line-height: 1.67;
      	text-align: left;
      	color: #263238;
        display: block;
        margin-left: 37px;

        &.center {
          margin-left: 0;
          text-align: center;

          span.blue {
            font-weight: bold;
            color: $blue;
          }
        }
      }
      .panel-help-text {
      	font-size: 13px;
      	font-weight: bold;
      	line-height: 1.54;
      	letter-spacing: -0.1px;
      	color: #9b9b9b;
        margin: 10px 0;
        margin-left: 37px;
        display: block;
      }

      select.form-control {
        width: 183px;
      	height: 40px;
      	border-radius: 2px;
      	background-color: #ffffff;
      	border: solid 1px #d6d6d3;
        margin-bottom: 10px;
        margin-left: 37px;
        font-size: 14px;
      	color: #9b9b9b;

        @media(min-width: $screen-md-min) {
          display: inline-block;
          width: 170px;

          &.second {
            margin-left: 10px;
          }
        }
      }
      .input-group.date {
        width: 190px;
        margin-left: 37px;


        .form-control {
          border-right: none;
          outline: 0;
          box-shadow: none;
          height: 35px;
          font-size: 14px;
        	color: #9b9b9b;

          &:focus {
            outline: 0;
            box-shadow: none;
            border-color: #ccc;
          }
        }
        .input-group-addon {
          border-left: none;
          background-color: white;
          height: 35px;

          i {
            color: #1976d2;
            font-weight: bold;
          }
        }
      }
      .radios {
        width: 100%;
        .radio-inline {
          margin-left: 37px;
          margin-bottom: 20px;
        }
      }
      .add-child {
        margin-left: 37px;
        color: #1976d2;
        cursor: pointer;
        display: hidden;
        i {
          margin-right: 10px;
        }
        span {
          font-size: 13px;
        }
      }
      hr {
        border-color: $gray;
        width: calc(100% + 40px);
        margin-left: -20px;
      }
      .fa-times {
        font-size: 14px;
        display: inline-block;
        float: right;
        cursor: pointer;
      }

    }
    .child-details:last-child {
      .add-child {
        display: block;
      }
    }

    &--nopad {
      margin-bottom: 0;
      border-radius: 0;

      &:first-of-type {
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
      }
      &:last-of-type {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
}

footer {
  background-color: $blue;
  padding: 0 15px;
  float: left;
  width: 100%;

  @media(min-width: $screen-md) {
    padding: 0 38px;
  }

  .links {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 26px;

    a {
      color: white;
      font-size: 14px;
      line-height: 25px;
    }

    @media(min-width: $screen-md) {
      text-align: right;
    }
  }
  .follow-us {
    font-size: 18px;
    color: white;
    padding-bottom: 26px;
  }

  .icons {
    width: 100%;
    display: block;
    clear: left;
    padding-bottom: 30px;
    .circle {
      background-color: white;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      text-align: center;
      padding-top: 8px;
      margin-right: 25px;
      float: left;
      margin-bottom: 20px;

      i {
        color: $blue;
        font-size: 20px;
      }
    }
  }

  hr {
    width: 100%;
  }
}
